.vs/
AccIII.VC.db
AccIII/Debug/
AccIII/*.bin
AccIII/*.txt
AccIIIQtUI/*Debug/
DataAnalysis/Data
Debug/data.bin
Debug/sample_time.txt
Debug/data_rate.txt
AccIIITwin/*/*.bin
AccIIITwin/*/*.txt
AccIIITwin/AccIII/Debug/*.bin
AccIIITwin/AccIII/Debug/*.txt
AccIIITwin/AccIII/Debug/*.tlog/
AccIIITwin/AccIII/Debug/*.pdb
AccIIITwin/AccIII/Debug/*.idb
AccIIITwin/AccIII/Debug/*.obj
Debug/AccIII_PhantomSkin_Location.jpg
temp/
temp*/
ipch/
FPGAProgram/Final_Overclock_DeviceID_with_value/vivado_*.jou
FPGAProgram/Final_Overclock_DeviceID_with_value/vivado_*.log
FPGAProgram/No_fifo_no_ID/vivado_*.jou
FPGAProgram/No_fifo_no_ID/vivado_*.log
*.pdf
*.eps
*.avi
*.asv
*.mat
*.zip
*.opendb
*.mat
*.png
*.jpg
