.vs/
AccIII.VC.db
AccIII/Debug/
AccIII/*.bin
AccIII/*.txt
DataAnalysis/Data
Debug/data.bin
Debug/sample_time.txt
Debug/data_rate.txt
Debug/AccIII_PhantomSkin_Location.jpg
temp/
ipch/
FPGAProgram/Final_Overclock_DeviceID_with_value/vivado_*.jou
FPGAProgram/Final_Overclock_DeviceID_with_value/vivado_*.log
FPGAProgram/No_fifo_no_ID/vivado_*.jou
FPGAProgram/No_fifo_no_ID/vivado_*.log
*.pdf
*.eps
*.avi
*.asv
*.mat
*.zip
